# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Get OS X Software Updates, update installed Homebrew, and their installed packages
alias update="sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup;"

# Get public IP address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Get local IP address
alias localip="ipconfig getifaddr en0"