# Always use color output for `ls`
alias ls="gls --color"

# Add long list format for `ls`
alias ll="gls -l --color"

# Always enable colored `grep` output with line numbers
alias grep='grep -n --color=auto'

# Always use color output for `cat`
alias cat='ccat'

# Use prettyping for ping
alias ping='prettyping --nolegend'

# Use htop for top
alias top="sudo htop"

# Use tldr for help
alias help='tldr'

# Use ncdu for du
alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules --exclude vendor"

# Always use color output for `httping`
alias httping='httping -Y'

# Improve rsync
alias rsync='rsync -avh --progress'

# Update installed Homebrew, Composer, and their installed packages
alias update="brew update; brew upgrade; brew cleanup; composer self-update; composer global update;"

# Get public IP address
alias publicip="dig +short myip.opendns.com @resolver1.opendns.com"

# Get local IPv4 address
alias localip="ipconfig getifaddr en0"

# Get all local IPv4 addresses
alias localips="ifconfig -a | grep -o 'inet \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet* //'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Scan the local network for devices
alias netscan="sudo arp-scan --localnet"

# Copy public key to clipboard
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | printf 'Public key copied.\n'";

# Get current wifi connection name
alias wifiname="/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport -I | grep -o ' SSID: .*' | sed 's/.*: //'"

# Get current wifi connection password
alias wifipass="security find-generic-password -wa \"$(wifiname)\""

# Make phpcs use colors with progress during run
alias phpcs="phpcs --colors -p"

# Run the docker services in the background
alias dcu="docker-compose up -d"

# Stop all the running docker services
alias dcd="docker-compose down"

# Execute a bash shell inside the running <container>
alias dex="dex-fn"

# Inspects the docker <container>
alias di="di-fn"

# List all the IP addresses in the (named) running docker containers
alias dip="dip-fn"

# Gets the logs for a docker <container>
alias dl="dl-fn"

# List the names of all the running docker containers
alias dnames="dnames-fn"

# List the docker processes status
alias dps="docker ps"

# List the docker processes status of all users
alias dpsa="docker ps -a"

# Remove all exited docker containers
alias drmc="drmc-fn"

# Remove all dangling docker images
alias drmid="drmid-fn"

# Execute a bash shell in a new container from an <image>
alias drun="drun-fn"

# Stop and then remove a docker <container>
alias dsr="dsr-fn"

# Laravel Sail global alias
alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'
