# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'

# Always use color output for `cat`
alias cat='ccat'

# Always use color output for `httping`
alias httping='httping -Y'

# Improve rsync
alias rsync='rsync -avh --progress'

# Update installed Homebrew, Composer, and their installed packages
alias update="brew update; brew upgrade; brew cleanup; composer self-update; composer global update;"

# Get public IP address
alias publicip="dig +short myip.opendns.com @resolver1.opendns.com"

# Get local IPv4 address
alias localip="ipconfig getifaddr en0"

# Get all local IPv4 addresses
alias localips="ifconfig -a | grep -o 'inet \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet* //'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Scan the local network for devices
alias netscan="arp-scan --localnet"
