[user]
	name = Derek Myers
	email = arcticpro@gmail.com

[color]
	ui = auto

[core]
	editor = code -w
	pager = cat

[log]
	date = local

[help]
	autocorrect = 1

[diff]
	tool = ksdiff

[merge]
	tool = ksdiff

[difftool]
	prompt = false

[mergetool]
	prompt = false

[difftool "ksdiff"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "ksdiff"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
