[user]
	name = Derek Myers
	email = arcticpro@gmail.com

[color]
	ui = auto

[core]
	editor = code -w
	pager = cat
	excludesfile = ~/.gitignore_global

[alias]
	st = status
	nuke = ! git reset --hard && git clean -df
	# https://stackoverflow.com/questions/25356810/git-how-to-squash-all-commits-on-branch/25357146#25357146
	squish = ! git reset $(git merge-base master $(git branch --show-current))

[log]
	date = local

[help]
	autocorrect = 1

[diff]
	tool = ksdiff

[merge]
	tool = ksdiff

[fetch]
	prune = true

[difftool]
	prompt = false

[mergetool]
	prompt = false

[difftool "code"]
	cmd = /usr/local/bin/code --new-window --wait --diff \"$LOCAL\" \"$REMOTE\"

[mergetool "code"]
	cmd = /usr/local/bin/code --wait \"$MERGED\"

[difftool "ksdiff"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "ksdiff"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
